<nav class="meny row-fluid">
    <div class="span12">
        <header style="text-align:center">
            <h2 style="color:#EEE"><i class="icon-bookmark"></i> MiniReader</h2>
        </header>
        <hr />
        <ul class="nav nav-pills nav-stacked">
            <li><a><i class="icon-rss"></i> Feeds</a></li>
            <li><a><i class="icon-book"></i> Pages</a></li>
            <li><a data-toggle="modal" data-target="#SettingsModal"><i class="icon-cogs"></i> Settings</a></li>
            <li><a href="/sign-out"><i class="icon-signout"></i> Sign Out</a></li>
        </ul>
        <a href="#" target="_blank">
            <img src="http://placehold.it/180x180" style="width:180px">
        </a>
        
    </div>
</nav>