<nav class="meny row-fluid">
    <div class="span12">
        <header style="text-align:center">
            <h2 style="color:#EEE"><i class="icon-bookmark"></i> MiniReader</h2>
        </header>
        <hr />
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a data-toggle="tab" data-target="#tabHome" onclick="App.UI.Menu.close()">
                    <i class="icon-home"></i> Home
                </a>
            </li>
            <li>
                <a data-toggle="tab" data-target="#tabFeeds" onclick="App.UI.Menu.close(); $('#tabFeeds').nested();">
                    <i class="icon-rss"></i> Feeds
                </a>
            </li>
            <li>
                <a data-toggle="tab" data-target="#tabPages" onclick="App.UI.Menu.close()">
                    <i class="icon-book"></i> Pages
                </a>
            </li>
            <li>
                <a data-toggle="tab" data-target="#tabSettings" onclick="App.UI.Menu.close()">
                    <i class="icon-cogs"></i> Settings
                </a>
            </li>
            <li><a onclick="window.location = '/sign-out'">
                <i class="icon-signout"></i> Sign Out</a>
            </li>
        </ul>
        <div class="btn-toolbar" style="margin-bottom:20px">
            <style scoped="scoped">
                i { color: #000; }
            </style>
            <div class="btn-group">
                <button type="button" class="btn" data-toggle="font" data-action="increase">
                    <i class="icon-plus"></i>
                </button>
                <button type="button" class="btn" data-toggle="font" data-action="decrease">
                    <i class="icon-minus"></i>
                </button>
            </div>
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn active" data-toggle="font" data-action="justify-left">
                    <i class="icon-align-left"></i>
                </button>
                <button type="button" class="btn" data-toggle="font" data-action="justify-full">
                    <i class="icon-align-justify"></i>
                </button>
            </div>
        </div>

        <a href="#" target="_blank">
            <img src="http://placehold.it/180x160" style="width:180px" />
        </a>
    </div>
</nav>