<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MiniReader</title>
    <link rel="stylesheet/less" type="text/css" href="~/a/less/app.less" />
    <script src="~/a/js/lib/less.js"></script>
</head>
<body>
    <nav class="meny row-fluid">
        <h1>MiniReader</h1>
        <button type="button" class="btn btn-block" id="AddFeed">
            &plus; Add Feed
        </button>
        <ul id="Feeds">
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ul>
        <div class="span12 navbar-fixed-bottom">
            <div class="row-fluid">
                <div class="span6">
                    <a data-toggle="modal" data-target="#SettingsModal" class="btn btn-block">
                        Settings
                    </a>
                </div>
                <div class="span6">
                    <a href="/sign-out" class="btn btn-block">Sign Out</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        Hey @User.Identity.Name
    </div>
    <div class="modal hide fade" id="SettingsModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Settings</h3>
        </div>
        <div class="modal-body">
            Settings
        </div>
    </div>

    <script src="~/a/js/lib/meny.js"></script>
    <script src="~/a/js/lib/jquery.js"></script>
    <script src="~/a/js/lib/bootstrap.js"></script>
    <script>
        var meny = Meny.create({
            // The element that will be animated in from off screen
            menuElement: document.querySelector('.meny'),

            // The contents that gets pushed aside while Meny is active
            contentsElement: document.querySelector('.container-fluid'),

            // The alignment of the menu (top/right/bottom/left)
            position: 'left',

            // The width of the menu (when using left/right position)
            width: 260
        });

        document.ontouchmove = function (e) { e.preventDefault() };

    </script>
</body>
</html>