<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>MiniReader</title>
    <link rel="stylesheet/less" type="text/css" href="~/a/less/app.less" />
    <script src="~/a/js/lib/less.js"></script>
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="span1 hidden-phone">
                <i class="icon-bookmark" style="font-size: 100px; color: #000"></i>
            </div>
            <div class="span4">
                <h1>MiniReader</h1>
                <h2>Just Feeds &amp; Pages</h2>
            </div>
        </header>
        
        <section class="hidden-phone">
            <ul class="thumbnails">
                <li class="span2">First</li>
                <li class="span2">Second</li>
                <li class="span2">Third</li>
            </ul>
        </section>
        @Html.Partial("~/Views/Main/Splash/SignInPartialView.cshtml", new Reader.Web.Models.SignInViewModel())
        <footer style="text-align: center" class="navbar-fixed-bottom">
            <p><small>by <a href="https://github.com/tmcnab" target="_blank">@@tmcnab</a> with some love and care I guess</small></p>
        </footer>
    </div>
    <script src="~/a/js/lib/jquery.js"></script>
    <script src="~/a/js/lib/jquery.validate.js"></script>
    <script src="~/a/js/lib/jquery.validate.unobtrusive.js"></script>
</body>
</html>
