<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="viewport" content="width=device-width" />
    <title>MiniReader</title>
    <link rel="stylesheet/less" type="text/css" href="~/a/less/app.less" />
    <script src="~/a/js/lib/less.js"></script>
</head>
<body>
    <div class="container-fluid">
        <header>
            <h1><i class="icon-bookmark"></i> MiniReader</h1>
            <h2>Just feeds &amp; saving, nothing else</h2>
        </header>
        <hr />
        <section>
            <p>This is a byline area about features etc.</p>
        </section>
        <hr />
        @Html.Partial("~/Views/Main/Splash/SignInPartialView.cshtml", new Reader.Web.Models.SignInViewModel())
        <hr />
        <footer style="text-align: center" class="navbar-fixed-bottom">
            <p><small>&copy; Tristan McNab 2013</small></p>
        </footer>
    </div>
    <script src="~/a/js/lib/jquery.js"></script>
    <script src="~/a/js/lib/jquery.validate.js"></script>
    <script src="~/a/js/lib/jquery.validate.unobtrusive.js"></script>
</body>
</html>