<div class="modal hide fade" id="AddFeedModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Add a Feed</h3>
    </div>
    <div class="modal-body">
        <p>Add a feed here.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">
            Okay
        </button>
        <button type="button" class="btn" data-dismiss="modal">
            Never Mind
        </button>
    </div>
</div>