@model Reader.Web.Models.AddFeedModel

<form action="/feeds" method="post" id="AddFeedForm">
    <div class="modal hide fade" id="AddFeedModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Add a Feed</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
            <div class="control-group">
                <label class="control-label">Feed URL</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.FeedUrl, new { @class = "span12", placeholder = "http://feed-source.com/rss" })
                    <span class="help-block">@Html.ValidationMessageFor(model => model.FeedUrl)</span>
                </div>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Okay</button>
            <button type="button" class="btn" data-dismiss="modal">Never Mind</button>
        </div>
    </div>
</form>